<package-def>
    <class name="КонструкторДекоратора" file="src/Классы/КонструкторДекоратора.os"/>
    <class name="ПостроительДекоратора" file="src/Классы/ПостроительДекоратора.os"/>
    <class name="Аннотация" file="src/Классы/Аннотация.os"/>
    <class name="Импорт" file="src/Классы/Импорт.os"/>
    <class name="Метод" file="src/Классы/Метод.os"/>
    <class name="ПараметрМетода" file="src/Классы/ПараметрМетода.os"/>
    <class name="Перехватчик" file="src/Классы/Перехватчик.os"/>
    <class name="Поле" file="src/Классы/Поле.os"/>
    <class name="ШагИнициализации" file="src/Классы/ШагИнициализации.os"/>
    <module name="ОбработкаДекоратора" file="src/Модули/ОбработкаДекоратора.os"/>
    <module name="Константы_Декоратор" file="src/Модули/Константы_Декоратор.os"/>
    <module name="ТипыПерехватчиковМетода" file="src/Модули/ТипыПерехватчиковМетода.os"/>
    <module name="ТипыПодключенияБибилотек" file="src/Модули/ТипыПодключенияБибилотек.os"/>
</package-def>