<package-def>
    <class name="КонструкторПрокси" file="src/Классы/КонструкторПрокси.os"/>
    <module name="КэшируемыеДанные" file="src/Модули/КэшируемыеДанные.os"/>
    <module name="ОбработкаПроксиОбъекта" file="src/Модули/ОбработкаПроксиОбъекта.os"/>
    <module name="Константы_Прокси" file="src/Модули/Константы_Прокси.os"/>
</package-def>